* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1320px;
	margin: 0 auto;
}
#second_logo {
	display: block;
	margin: 0 auto;
}
#top_flex{
	height: 65px;
	max-width: 1320px;
}
#top {
	display: flex;
}
#logo {
	height: 65px;
	width: auto;
	float: left;
}
.left {
	float: left;
}
.right {
	float: right;
}
.right li {
	margin: 15px;
	float: left;
	padding: 5px 25px 5px 25px;
	list-style: none;
	color: black;
}
#overview {
	display: flex;
	width: 100%;
	text-align: center;
	margin: 20px;
}
#left{
	flex: 50%;

}
#left img{
	width: 90%;
}
#right {
	flex: 50%;
}
#right img {
	width: 90%;
}
.text_em {
	text-align: center;
	margin: 35px;
}
#bottom_2 {
	display: flex;
}
#text_left {
	margin-top: 30px;
	flex: 70%;
	margin: 0 auto;
}
.text {
	font-size: 20px;
	font-family:'Gothic A1', sans-serif;;
	padding: 20px;
	font-weight: 100;
	margin: 15px;
}
#right_img {
	flex: 30%;
	margin: 0 auto;

}
#bottom_4 {
	display: flex;
	margin: 20px
}
#enjoy {
	text-align: center;
	flex: 33%;
	padding: 10px;
}
#discover {
	text-align: center;
	flex: 33%;
	padding: 10px;

}
#explore {
	text-align: center;
	flex: 33%;
	padding: 10px;

}
.title {
	font-size: 25px;
	font-family:'Gothic A1', sans-serif;;
	padding: 10px;
	font-weight: 100;
	margin: 5px;
	font-weight: bold;
}
.logo_bottom_4 {
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}
#bottom_5 {
	display: flex;
}
#left_5{
	flex: 10%;
}
#left_5 img{
	width: 386px;
}
#right_5 {
	flex: 70%;
}
#bottom_6 {
	display: flex;
}
#left_6 {
	flex: 70%;
}
#left_6 h1 {
	text-align: center;
}
#right_6 {
	flex: 30%;
}
@media(max-width : 800px) {
	#top_flex {
		flex-wrap: wrap;
	} 
	#bottom_2 {
		flex-wrap: wrap;
	}
	#overview {
		flex-wrap: wrap;
	}
	}
	#bottom_4 {
		flex-wrap: wrap;
	}
}
@media(max-width : 400px) {
	
}
